body {
  font-family: 'Courier New', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  color:#FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header{
  /* margin-top: 10vh; */
  font-size: 27px;
  margin-bottom: 20px;
  color: #8bc34a;
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  user-select: none; 
  margin-top: 200px;

}

.List {
  background-color:rgb(21, 21, 21);
  height: 169px;
  color:rgb(201, 201, 201);
  overflow-y: auto;
  /* font-size: 10px; */
  padding: 30px;
  /* padding-right: 10px; */
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(201, 201, 201);
  /* width: 300px; */
}

.listItem, .listHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-start; */
}

.listHeader{
  color: rgb(251,192,0);
  margin-bottom: 7px;
}

.name, .score{
  /* background-color:red; */
  width: 130px;
  text-align: left;
  font-size: 20px;
}

.score{
  text-align: center;
  width:80px;
}

form {
  /* margin-top: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 70px;
}
input{
  font-family: 'Courier New', sans-serif;
  margin: 10px 0px 10px 0px;
}

input.textField, input.scoreField {
  background-color: rgb(26, 26, 26);
  color: rgb(251,192,0);
  font-size: 20px;
  padding: 5px;
  padding-left: 0;
  border: none;
  outline: none;
  border-bottom: solid 1px rgb(201, 201, 201);
  caret-color:rgb(201, 201, 201);
}

input::placeholder {
  color: rgb(0,179,204);
}

input.submit {
  color: rgb(251,192,0);
  background-color:rgb(21, 21, 21);
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border: solid 1px rgb(201, 201, 201);
  width: 65%;
}

input.submit:hover {
  background-color:rgb(26, 26, 26);
}

input.submit:active {
  color: rgb(0,179,204);
  background-color:rgb(45, 45, 45);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}